<!-- <div class="sectors">
    <h1 class="title">Areas de Actuación</h1>
    <div class="sectors-inner">
        <div class="sectors-item">
            <h4>Viviendas</h4>
            <a href="">
                <img src="./assets/img/casa.jpg" alt="">
            </a>
        </div>
        <div class="sectors-item">
            <h4>Comercios</h4>
            <a href="">
                <img src="./assets/img/comercio.jpg" alt="">
            </a>
        </div>
        <div class="sectors-item">
            <h4>Hosteleria</h4>
            <a href="">
                <img src="./assets/img/hosteleria.jpg" alt="">
            </a>
        </div>
        <div class="sectors-item">
            <h4>Hoteles</h4>
            <a href="">
                <img src="./assets/img/hotel2.jpg" alt="">
            </a>
        </div>
    </div>
</div> -->