<!-- <div class="wrap">
    <h1 class="title">Fumigación de plagas en Sevilla</h1>
    <div class="wrap-content">
        <div class="wrap-item">
            <div class="item">
                <a href="">
                    <img src="./assets/img/hormiga.png" alt="">
                    <h1>Desinsectación en Sevilla</h1>
                    <p>La desinsectación es una técina de saneamiento dirigida a eliminar o controlar la población de insectos y otros artrópodos</p>
                </a>
            </div>
        </div>
        <div class="wrap-item">
            <div class="item">
                <a href="">
                    <img src="./assets/img/silueta-de-rata (1).png">
                    <h1>Desratización</h1>
                    <p>La desratización se refiere a las acciones que se llevan a acabo para ehuyentar y eliminar las plagas de ratas y ratones del hogar, negocio etc...</p>
                </a>
            </div>
        </div>
        <div class="wrap-item">
            <div class="item">
                <a href="">
                    <img src="./assets/img/germenes.png">
                    <h1>Desinfección</h1>
                    <p>Procedimiento en el que usamos técnicas físicas o químicas para eleminar, matar, inactivas o inhibir a un gran número de microorganismos encontrados en el ambiente </p>
                </a>
            </div>
        </div>
        <div class="wrap-item">
            <div class="item">
                <a href="">
                    <img src="./assets/img/termita (1).png">
                    <h1>Tratamineto de la madera</h1>
                    <p>Consiste en la aplicación de productos insecticidas y fungicidas que se aplican a la madera, protegiendola de insectos xylófagos (polillas, terminas y carcomas), hogos y azulado.</p>
                </a>
            </div>
        </div>
    </div>
</div> -->
